TELEGRAM_TOKEN=<telegram_bot_token>
GITHUB_TOKEN=<github_token>
SO_TOKEN_KEY=<stack_overflow_api_key>
SO_ACCESS_TOKEN=<stack_overflow_access_token>
POSTGRES_URL=<postgres_url>
REDIS_URL_URL=<redis_url>
POSTGRES_USERNAME=<postgres_username>
POSTGRES_PASSWORD=<postgres_password>
